.layout-header {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: all-scroll;
    @include layoutBottomBorder;
    &.disabled {
        cursor: auto;
    }
    @include baseFontColorThemeStyles;
    @include backgroundDeppThemeStyles;
    .layout-left {
        font-weight: bold;
        display: flex;
        .symbol-search {
            margin-left: 6px;
            .trade-select-selection {
                height: 26px;
                .trade-select-selected-value {
                    height: 26px;
                    line-height: 26px;
                }
                .trade-select-placeholder {
                    height: 26px;
                    line-height: 26px;
                }
            }
            .trade-select-input {
                height: 26px;
                line-height: 26px;
                width: 148px;
                @include baseFontColorThemeStyles;
            }
        }
    }
    .layout-right {
        margin-left: auto;
        cursor: pointer;
        @include flexAlignItemsCenter;
        .order {
            margin-right: 16px;
            font-size: $font-size-small;
            padding: 0 4px;
            border-radius: 2px;
            @include btnBorderColor;
        }
        .calculate {
            margin-right: 4px;
        }
        .locked {
            margin-right: 4px;
            i {
                @include baseFontColorThemeStyles;
                font-size: $font-size-medium;
            }
        }
    }
}
