.trade-no-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        img {
            width: 226px;
        }
        p {
            margin-top: 8px;
            @include baseFontColorThemeStyles;
        }
    }
}