.trade-no-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .ant-empty {
        .ant-empty-description {
            @include baseFontColorThemeStyles;
        }
    }
}