.trade-no-login {
    @include pavedBox;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        img {
            width: 226px;
        }
        p {
            margin-top: 8px;
            @include baseFontColorThemeStyles;
        }
    }
}